<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        (click)="routerService.goToHome()"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <span class="fs-4 fw-bold name">Classter</span>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <!-- STUDENT NAV -->
        <ng-container *ngIf="role === 'student'">
          <li>
            <a class="nav-link px-2 text-white">Dashboard</a>
          </li>
          <li>
            <a routerLink="/courses" class="nav-link px-2 text-white"
              >My Courses</a
            >
          </li>
          <li>
            <a routerLink="/assignments" class="nav-link px-2 text-white"
              >My Assignments</a
            >
          </li>
          <li>
            <a routerLink="/attendance" class="nav-link px-2 text-white"
              >Attendance</a
            >
          </li>
        </ng-container>

        <!-- TEACHER NAV -->
        <ng-container *ngIf="role === 'teacher'">
          <li>
            <a
              (click)="routerService.goToTeacherDashBoard()"
              class="nav-link px-2 text-white"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              (click)="routerService.goToTeacherManageCourses()"
              class="nav-link px-2 text-white"
              >Manage Courses</a
            >
          </li>
          <li>
            <a
              (click)="routerService.goToTeacherAssigments()"
              class="nav-link px-2 text-white"
              >Assignments</a
            >
          </li>
          <li>
            <a
              (click)="routerService.goToTeacherAttendance()"
              class="nav-link px-2 text-white"
              >Attendance</a
            >
          </li>
          <li>
            <a routerLink="/teacher-reports" class="nav-link px-2 text-white"
              >Reports</a
            >
          </li>
        </ng-container>

        <!-- ADMIN NAV -->
        <ng-container *ngIf="role === 'admin'">
          <li>
            <a
              (click)="routerService.goToAdminPanel()"
              class="nav-link px-2 text-white"
              >Admin Panel</a
            >
          </li>
          <li>
            <a
              (click)="routerService.goToManageUsers()"
              class="nav-link px-2 text-white"
              >Manage Users</a
            >
          </li>
          <li>
            <a
              (click)="routerService.goToReports()"
              class="nav-link px-2 text-white"
              >Reports</a
            >
          </li>
        </ng-container>
      </ul>

      <!-- Not logged in -->
      <div class="text-end" *ngIf="!user">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          (click)="routerService.goToLogIn()"
        >
          Log In
        </button>
      </div>

      <!-- Logged-in user dropdown -->
      <div class="dropdown text-end" *ngIf="user">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
